<nav class="header navbar navbar-expand-xl bg-white shadow-info container py-3 px-4 mt-lg-5 mb-lg-3">
  <div class="container-fluid position-relative">
    <div class="d-flex align-items-center">
      <a class="navbar-brand" href="index.html"><img src="../assets/images/logo.png" alt="" class="me-4 img-fluid" /></a>
      <ul class="list-unstyled d-none d-lg-flex align-items-center mb-0">
        <li class="nav-item dropdown position-static">
          <a class="nav-link dropdown-toggle px-4 text-neutral-80 d-none d-xl-flex" href="#" role="button"
            data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            探索
          </a>
          <!-- 電腦版探索選單 -->
          <div class="desktop-nav-dropdown-menu dropdown-menu mt-2 py-0 overflow-hidden shadow border-0">
            <div class="d-flex bg-white">
              <!-- 選單第一層 -->
              <ul class="list-unstyled dropdown-menu-level-one bg-neutral-10">
                <li class="mb-2"><a class="dropdown-item dropdown-item-all" href="#">探索全部</a></li>
                <li><a class="dropdown-item" href="#">音樂</a></li>
                <li><a class="dropdown-item" href="#">攝影</a></li>
                <li><a class="dropdown-item active" href="#">程式</a></li>
                <li><a class="dropdown-item" href="#">藝術</a></li>
                <li><a class="dropdown-item" href="#">人文</a></li>
                <li><a class="dropdown-item" href="#">攝影</a></li>
                <li><a class="dropdown-item" href="#">行銷</a></li>
                <li><a class="dropdown-item" href="#">投資理財</a></li>
                <li><a class="dropdown-item" href="#">心靈成長</a></li>
                <li><a class="dropdown-item" href="#">職場技能</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
                <li><a class="dropdown-item" href="#">心靈成長</a></li>
                <li><a class="dropdown-item" href="#">職場技能</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
              </ul>
              <!-- 選單第二層 -->
              <ul class="list-unstyled dropdown-menu-level-two">
                <li class="mb-2"><a class="dropdown-item dropdown-item-all" href="#">所有程式</a></li>
                <li><a class="dropdown-item" href="#">程式入門</a></li>
                <li><a class="dropdown-item" href="#">網頁前端</a></li>
                <li><a class="dropdown-item active" href="#">網頁後端</a></li>
                <li><a class="dropdown-item" href="#">網站架設</a></li>
                <li><a class="dropdown-item" href="#">資訊安全</a></li>
                <li><a class="dropdown-item" href="#">程式語言</a></li>
                <li><a class="dropdown-item" href="#">遊戲開發</a></li>
                <li><a class="dropdown-item" href="#">資料科學</a></li>
              </ul>
              <!-- 選單第三層 -->
              <section class="list-unstyled dropdown-menu-level-three">
                <h2
                  class="fs-6 text-neutral-80 fw-semibold d-flex align-items-center border-bottom border-neutral-40 pb-3">
                  <img src="../assets/images/icons/ic_fire.png" width="24" class="me-2" />熱門網頁前端課程
                </h2>
                <ul class="list-unstyled">
                  <li class="d-flex border-bottom border-neutral-40 pt-3 pb-4">
                    <div class="position-relative">
                      <div class="row g-2">
                        <div class="col-4">
                          <img src="../assets/images/course-5.png" class="img-fluid object-fit-cover rounded">
                          <p
                          class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-danger-10 text-danger rounded-pill text-nowrap fs-8">
                          8 折
                        </p>
                        </div>
                        <div class="col-8">
                          <h6 class="ms-2 fw-semibold fs-7">小白也會！從零開始學習 Python 程式設計</h6>
                          <div class="d-flex align-items-center border-bottom border-neutral-40 pb-2">
                            <img class="avatar object-fit-cover me-2" src="../assets/images/avatar-1.png"
                              style="height: 32px; width: 32px;" /><span class="text-neutral-80 fs-7">Kelly Hsu</span>
                            <div class="ms-auto">
                              <p class="text-primary fw-bold">NT$ 2,480</p>
                              <p class="text-secondary fs-8 text-decoration-line-through text-end">NT$ 3,200</p>
                            </div>
                          </div>
                          <div class="d-flex justify-content-between align-items-center mt-2">
                            <p class="text-neutral-80 fs-8">已有 420 位同學加入</p>
                            <small><i class="bi bi-star-fill text-warning me-1 fs-8"></i>4.0
                              <span class="text-secondary ms-1 fs-8">(333)</span></small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="d-flex border-bottom border-neutral-200 pt-3 pb-4">
                    <div class="position-relative">
                      <div class="row g-2">
                        <div class="col-4">
                          <img src="../assets/images/course-5.png" class="img-fluid object-fit-cover rounded">
                          <p
                          class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-danger-10 text-danger rounded-pill text-nowrap fs-8">
                          8 折
                        </p>
                        </div>
                        <div class="col-8">
                          <h6 class="ms-2 fw-semibold fs-7">小白也會！從零開始學習 Python 程式設計</h6>
                          <div class="d-flex align-items-center border-bottom border-neutral-40 pb-2">
                            <img class="avatar object-fit-cover me-2" src="../assets/images/avatar-1.png"
                              style="height: 32px; width: 32px;" /><span class="text-neutral-80 fs-7">Kelly Hsu</span>
                            <div class="ms-auto">
                              <p class="text-primary fw-bold">NT$ 2,480</p>
                              <p class="text-secondary fs-8 text-decoration-line-through text-end">NT$ 3,200</p>
                            </div>
                          </div>
                          <div class="d-flex justify-content-between align-items-center mt-2">
                            <p class="text-neutral-80 fs-8">已有 420 位同學加入</p>
                            <small><i class="bi bi-star-fill text-warning me-1 fs-8"></i>4.0
                              <span class="text-secondary ms-1 fs-8">(333)</span></small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="d-flex border-bottom border-neutral-200 pt-3 pb-4">
                    <div class="position-relative">
                      <div class="row g-2">
                        <div class="col-4">
                          <img src="../assets/images/course-5.png" class="img-fluid object-fit-cover rounded">
                          <p
                          class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-danger-10 text-danger rounded-pill text-nowrap fs-8">
                          8 折
                        </p>
                        </div>
                        <div class="col-8">
                          <h6 class="ms-2 fw-semibold fs-7">小白也會！從零開始學習 Python 程式設計</h6>
                          <div class="d-flex align-items-center border-bottom border-neutral-40 pb-2">
                            <img class="avatar object-fit-cover me-2" src="../assets/images/avatar-1.png"
                              style="height: 32px; width: 32px;" /><span class="text-neutral-80 fs-7">Kelly Hsu</span>
                            <div class="ms-auto">
                              <p class="text-primary fw-bold">NT$ 2,480</p>
                              <p class="text-secondary fs-8 text-decoration-line-through text-end">NT$ 3,200</p>
                            </div>
                          </div>
                          <div class="d-flex justify-content-between align-items-center mt-2">
                            <p class="text-neutral-80 fs-8">已有 420 位同學加入</p>
                            <small><i class="bi bi-star-fill text-warning me-1 fs-8"></i>4.0
                              <span class="text-secondary ms-1 fs-8">(333)</span></small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </section>
            </div>
          </div>
        </li>
        <li>
          <form class="position-relative d-none d-xl-block">
            <input type="search" class="form-control ps-6" placeholder="搜尋各種音樂、數學、程式及設計課程" />
            <span class="material-symbols-outlined position-absolute start-0 top-50 ms-2 translate-middle-y">
              search
            </span>
            <button type="button"
              class="btn btn-primary position-absolute end-0 top-50 me-2 translate-middle-y">搜尋</button>
          </form>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <ul class="navbar-nav align-items-lg-center flex-row">
        <li class="nav-item me-3 dropdown">
          <button type="button" class="btn position-relative" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <span class="material-symbols-outlined align-bottom">
              notifications
              <span
                class="position-absolute top-20 start-80 translate-middle p-1 bg-primary border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
              </span>
            </span>
          </button>
          <%- include('./components/noticeDropdown'); -%>
        </li>
        <li class="nav-item me-3">
          <button type="button" class="btn position-relative">
            <span class="material-symbols-outlined">
              shopping_cart
            </span>
            <span
              class="position-absolute top-20 start-80 translate-middle badge rounded-pill bg-primary border border-light">
              2
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
        </li>
        <li class="nav-item d-none d-xl-block">
          <a class="btn btn-primary custom-button" href="login.html">登入 / 註冊</a>
        </li>
      </ul>
      <button class="navbar-toggler order-1 order-xl-0" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="offcanvas offcanvas-end d-flex d-xl-none" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <!-- offcanvas -->
      <div class="offcanvas-body position-relative d-flex flex-column d-lg-block p-0">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <div class="mobile-nav-dropdown-menu dropdown-menu-first rounded-0 px-4 py-3">
              <ul class="list-unstyled dropdown-menu-level-one mb-0">
                <li class="mb-2"><a class="dropdown-item dropdown-item-all" href="#">探索全部</a></li>
                <li><a class="dropdown-item" href="#">音樂</a></li>
                <li><a class="dropdown-item" href="#">攝影</a></li>
                <li>
                  <a class="dropdown-item active" data-bs-toggle="dropdown" href="#">程式</a>
                  <ul class="list-unstyled dropdown-menu dropdown-menu-level-two">
                    <li class="mb-2 border-bottom border-neutral-200">
                      <a class="dropdown-item dropdown-item-all d-flex align-items-center justify-content-center position-relative"
                        href="#"><span class="material-symbols-outlined position-absolute start-0"> chevron_left
                        </span>所有程式</a>
                    </li>
                    <li><a class="dropdown-item" href="#">程式入門</a></li>
                    <li><a class="dropdown-item" href="#">網頁前端</a></li>
                    <li><a class="dropdown-item" href="#">網頁後端</a></li>
                    <li><a class="dropdown-item" href="#">網站架設</a></li>
                    <li><a class="dropdown-item" href="#">資訊安全</a></li>
                    <li><a class="dropdown-item" href="#">程式語言</a></li>
                    <li><a class="dropdown-item" href="#">遊戲開發</a></li>
                    <li><a class="dropdown-item" href="#">資料科學</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item" href="#">藝術</a></li>
                <li><a class="dropdown-item" href="#">人文</a></li>
                <li><a class="dropdown-item" href="#">攝影</a></li>
                <li><a class="dropdown-item" href="#">行銷</a></li>
                <li><a class="dropdown-item" href="#">投資理財</a></li>
                <li><a class="dropdown-item" href="#">心靈成長</a></li>
                <li><a class="dropdown-item" href="#">職場技能</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="d-xl-none border-top p-3 bg-white w-100 position-absolute bottom-0 start-0">
          <a class="btn btn-primary d-block" href="#">登入 / 註冊</a>
        </div>
      </div>
    </div>
  </div>
</nav>

