<div class="swiper bannerSwiper" style="z-index: 0;">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="banner-image min-vh-100" style="background-image: url(../assets/images/hero-1.png);">
                <span class="flower"></span>
                <a href="#">
                    <div class="banner-content">
                        <div class="badge badge-lg bg-white text-dark rounded-pill banner-text fw-semibold">
                            <div class="badge badge-sm bg-primary-10 text-primary rounded-pill me-2">
                                熱銷課程 🔥
                            </div>
                            掌握商業攝影：打造你的專業攝影事業
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div
                        class="banner-action badge bg-primary text-white banner-text fw-semibold fs-2 position-absolute translate-middle">
                        <p class="">
                            探索感興趣的課程，今天立即上課<span
                                class="ms-2 material-symbols-outlined align-baseline fs-3">arrow_forward</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="banner-image min-vh-100" style="background-image: url(../assets/images/hero-2.png);">
                <span class="flower"></span>
                <a href="#">
                    <div class="banner-content">
                        <div class="badge badge-lg bg-white text-dark rounded-pill banner-text fw-semibold">
                            <div class="badge badge-sm bg-primary-10 text-primary rounded-pill me-2">
                                熱銷課程 🔥
                            </div>
                            給成人的鋼琴入門課，一小時教你彈奏上手！
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div
                        class="banner-action badge bg-primary text-white banner-text fw-semibold fs-2 position-absolute translate-middle">
                        <p class="">
                            探索感興趣的課程，今天立即上課<span
                                class="ms-2 material-symbols-outlined align-baseline fs-3">arrow_forward</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="banner-image min-vh-100" style="background-image: url(../assets/images/hero-3.png);">
                <span class="flower"></span>
                <a href="#">
                    <div class="banner-content">
                        <div class="badge badge-lg bg-white text-dark rounded-pill banner-text fw-semibold">
                            <div class="badge badge-sm bg-primary-10 text-primary rounded-pill me-2">
                                熱銷課程 🔥
                            </div>
                            健康廚房：營養均衡的素食料理指南
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div
                        class="banner-action badge bg-primary text-white banner-text fw-semibold fs-2 position-absolute translate-middle">
                        <p class="">
                            探索感興趣的課程，今天立即上課<span
                                class="ms-2 material-symbols-outlined align-baseline fs-3">arrow_forward</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="banner-image min-vh-100" style="background-image: url(../assets/images/hero-4.png);">
                <span class="flower"></span>
                <a href="#">
                    <div class="banner-content">
                        <div class="badge badge-lg bg-white text-dark rounded-pill banner-text fw-semibold">
                            <div class="badge badge-sm bg-primary-10 text-primary rounded-pill me-2">
                                熱銷課程 🔥
                            </div>
                            全面掌握 JavaScript 開發技術！
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div
                        class="banner-action badge bg-primary text-white banner-text fw-semibold fs-2 position-absolute translate-middle">
                        <p class="">
                            探索感興趣的課程，今天立即上課<span
                                class="ms-2 material-symbols-outlined align-baseline fs-3">arrow_forward</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>