<div class="swiper courseBtnSwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <button type="button" class="btn btn-primary text-nowrap">全部</button>
        </div>
        <div class="swiper-slide">
            <button type="button" class="btn shadow-sm bg-white text-nowrap">
                🍽️ 烹飪料理
            </button>
        </div>
        <div class="swiper-slide">
            <button type="button" class="btn shadow-sm bg-white text-nowrap">
                📊 數據分析
            </button>
        </div>
        <div class="swiper-slide">
            <button type="button" class="btn shadow-sm bg-white text-nowrap">
                🎼 音樂製作
            </button>
        </div>
        <div class="swiper-slide">
            <button type="button" class="btn shadow-sm bg-white text-nowrap">
                📝 創意寫作
            </button>
        </div>
        <div class="swiper-slide">
            <button type="button" class="btn shadow-sm bg-white text-nowrap">
                💬 語言學習
            </button>
        </div>
        <div class="swiper-slide">
            <button type="button" class="btn shadow-sm bg-white text-nowrap">
                🖌️ 藝術創作
            </button>
        </div>
    </div>
</div>