<div class="swiper learningSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card mx-auto">
            <div class="row align-items-center">
              <div class="col-4">
                <div class="badge d-flex align-items-center justify-content-center"
                  style="background-color: #ff994f">
                  <img src="../assets/images/icons/megaphoneSimple.png" />
                </div>
              </div>
              <div class="col-8">
                <div class="d-flex flex-column justify-content-between h-100">
                  <p class="fw-semibold">網路行銷</p>
                  <small class="text-secondary">342 門課程</small>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="swiper-slide">
        <div class="card mx-auto">
            <div class="row align-items-center">
              <div class="col-4">
                <div class="badge d-flex align-items-center justify-content-center"
                  style="background-color: #5e5e5e">
                  <img src="../assets/images/icons/camera.png" />
                </div>
              </div>
              <div class="col-8">
                <div class="d-flex flex-column justify-content-between h-100">
                  <p class="fw-semibold">拍攝剪輯</p>
                  <small class="text-secondary">563 門課程</small>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="swiper-slide">
        <div class="card mx-auto">
            <div class="row align-items-center">
              <div class="col-4">
                <div class="badge d-flex align-items-center justify-content-center"
                  style="background-color: #ff9bad">
                  <img src="../assets/images/icons/chartBarHorizontal.png" />
                </div>
              </div>
              <div class="col-8">
                <div class="d-flex flex-column justify-content-between h-100">
                  <p class="fw-semibold">自我成長</p>
                  <small class="text-secondary">490 門課程</small>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="swiper-slide">
        <div class="card mx-auto">
            <div class="row align-items-center">
              <div class="col-4">
                <div class="badge d-flex align-items-center justify-content-center"
                  style="background-color: #564ffd">
                  <img src="../assets/images/icons/penNib.png" />
                </div>
              </div>
              <div class="col-8">
                <div class="d-flex flex-column justify-content-between h-100">
                  <p class="fw-semibold">藝術設計</p>
                  <small class="text-secondary">230 門課程</small>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="swiper-slide">
        <div class="card mx-auto">
            <div class="row align-items-center">
              <div class="col-4">
                <div class="badge d-flex align-items-center justify-content-center"
                  style="background-color: #54dff2">
                  <img src="../assets/images/icons/bugDroid.png" />
                </div>
              </div>
              <div class="col-8">
                <div class="d-flex flex-column justify-content-between h-100">
                  <p class="fw-semibold">數據分析</p>
                  <small class="text-secondary">395 門課程</small>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="swiper-slide">
        <div class="card mx-auto">
            <div class="row align-items-center">
              <div class="col-4">
                <div class="badge d-flex align-items-center justify-content-center"
                  style="background-color: #52e9bc">
                  <img src="../assets/images/icons/creditCard.png" />
                </div>
              </div>
              <div class="col-8">
                <div class="d-flex flex-column justify-content-between h-100">
                  <p class="fw-semibold">投資理財</p>
                  <small class="text-secondary">486 門課程</small>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="swiper-slide">
        <div class="card mx-auto">
            <div class="row align-items-center">
              <div class="col-4">
                <div class="badge d-flex align-items-center justify-content-center"
                  style="background-color: #cf93ff">
                  <img src="../assets/images/icons/headphones.png" />
                </div>
              </div>
              <div class="col-8">
                <div class="d-flex flex-column justify-content-between h-100">
                  <p class="fw-semibold">音樂創作</p>
                  <small class="text-secondary">283 門課程</small>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="swiper-slide">
        <div class="card mx-auto">
            <div class="row align-items-center">
              <div class="col-4">
                <div class="badge d-flex align-items-center justify-content-center"
                  style="background-color: #0068ff">
                  <img src="../assets/images/icons/arrow.png" />
                </div>
              </div>
              <div class="col-8">
                <div class="d-flex flex-column justify-content-between h-100">
                  <p class="fw-semibold">探索更多</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

