<ul class="dropdown-menu notice-dropdown-menu" aria-labelledby="dropdownMenuLink">
  <div class="d-flex bg-white">
    <table class="table table-striped align-middle fs-7">
      <thead>
        <tr class="text-end">
          <th scope="col"></th>
          <th scope="col"><a href="#">
            <i class="bi bi-check-circle-fill me-2"></i>全部標記為已讀</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="p-3">
            <div class="bg-info-10 p-2 badge rounded-circle icon">
              <img src="../assets/images/icons/ic_campaign.svg" class="text-info-100 text-center fs-5">
            </div>
          </th>
          <td>系統通知：6 月 30 日 02:00 網站系統排程更新</td>
        </tr>
        <tr>
          <th scope="row" class="p-3">
            <div class="bg-danger-10 p-2 badge rounded-circle icon">
              <img src="../assets/images/icons/ic_notifications.svg" class="text-danger-100 text-center fs-5">
            </div>
          </th>
          <td>募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱！</td>
        </tr>
        <tr>
          <th scope="row" class="p-3">
            <div class="bg-danger-10 p-2 badge rounded-circle icon">
              <img src="../assets/images/icons/ic_notifications.svg" class="text-danger-100 text-center fs-5">
            </div>
          </th>
          <td>募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱！</td>
        </tr>
      </tbody>
    </table>
  </div>

</ul>