<div class="swiper teacherSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide bg-transparent">
        <div class="card bg-transparent border-0 mx-auto h-100">
            <img src="../assets/images/teacher-1.png" class="card-img-top" alt="..." />
            <div class="card-body shadow h-100 d-flex flex-column">
              <div class="card-title fw-semibold mb-4">Mr. Robert</div>
              <div class="d-flex mb-2">
                <div>
                  <div class="badge text-neutral-80 bg-neutral-40 bg-secondary rounded-pill mb-1">
                    音樂創作
                  </div>
                </div>
                <div>
                  <small><i class="bi bi-star-fill text-warning ms-2 me-1"></i>4.8
                    <span class="text-secondary ms-1">(333)</span></small>
                </div>
              </div>
              <div class="card-text mb-4">
                Robert
                的線上課程深受學生喜愛。他的教學方法生動有趣，能夠深入淺出地講解複雜的音樂理論，並結合實際演奏技巧，使學生能夠快速進步。
              </div>
              <button type="button" class="btn btn-primary w-100 mt-auto">
                探索 Mr. Robert 的教學課程
              </button>
            </div>
          </div>
      </div>
      <div class="swiper-slide">
        <div class="card bg-transparent border-0 mx-auto h-100">
            <img src="../assets/images/teacher-2.png" class="card-img-top" alt="..." />
            <div class="card-body shadow h-100 d-flex flex-column">
              <div class="card-title fw-semibold mb-4">Kelly Beck</div>
              <div class="d-flex mb-2">
                <div>
                  <div class="badge text-neutral-80 bg-neutral-40 bg-secondary rounded-pill mb-1">
                    英文寫作
                  </div>
                </div>
                <div>
                  <small><i class="bi bi-star-fill text-warning ms-2 me-1"></i>4.0
                    <span class="text-secondary ms-1">(333)</span></small>
                </div>
              </div>
              <div class="card-text mb-4">
                Kelly 的教學方式靈活且富有創意，能夠有效提升學生的寫作技巧和自信心。Kelly 注重實用性，針對學生的需求量身打造教學內容，並提供具體的反饋和建議。
              </div>
              <button type="button" class="btn btn-primary w-100 mt-auto">
                探索 Kelly Beck 的教學課程
              </button>
            </div>
          </div>
      </div>
      <div class="swiper-slide">
        <div class="card bg-transparent border-0 mx-auto h-100">
            <img src="../assets/images/teacher-3.png" class="card-img-top" alt="..." />
            <div class="card-body shadow h-100 d-flex flex-column d-flex flex-column">
              <div class="card-title fw-semibold mb-4">K. Lee</div>
              <div class="d-flex mb-2">
                <div>
                  <div class="badge text-neutral-80 bg-neutral-40 bg-secondary rounded-pill mb-1">
                    音樂創作
                  </div>
                </div>
                <div>
                  <small><i class="bi bi-star-fill text-warning ms-2 me-1"></i>4.8
                    <span class="text-secondary ms-1">(333)</span></small>
                </div>
              </div>
              <div class="card-text mb-4">
                K. Lee 的教學風格親切且耐心，能夠循序漸進地引導學生進入樂團的世界。學生們紛紛表示，K. Lee 的課程讓他們對音樂產生了濃厚的興趣！
              </div>
              <button type="button" class="btn btn-primary w-100 mt-auto">
                探索 K. Lee 的教學課程
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>